---
const { pathname } = Astro.url;
const { seoConfig } = Astro.props;
let lang = "en";
let dir = "ltr";

switch (lang) {
  case "ar":
    break;
  case "es":
    break;
  case "fr":
    break;
  case "hi":
    break;
  case "zh":
    break;
  default:
    break;
}

// Determine language and direction based on URL path
if (pathname.startsWith("/ar")) {
  lang = "ar";
  dir = "rtl";
} else if (pathname.startsWith("/es")) {
  lang = "es";
} else if (pathname.startsWith("/fr")) {
  lang = "fr";
} else if (pathname.startsWith("/hi")) {
  lang = "hi";
} else if (pathname.startsWith("/zh")) {
  lang = "zh";
}
import "../styles/global.css";
import "../../index.scss";
import Navbar from "pdfequips-navbar/NavBar";
import { Footer } from "pdfequips-footer/components/Footer.tsx";
import AstroSeo from "./AstroSeo.astro";
---

<!doctype html>
<html lang={lang} dir={dir}>
  <head>
    <AstroSeo {...seoConfig} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#FC271C" />
    <link rel="icon" type="image/svg+xml" href="/images/icons/logo.svg" />
    <slot name="head" />
  </head>
  <body>
    <main>
      <Navbar client:load lang={lang} path={seoConfig.to.replace("/", "")} />
      <slot />
      <Footer client:load title={seoConfig.title} lang={lang} />
    </main>
  </body>
</html>
